@{
    //string str_space = "  ";
}

<ul class="list-unstyled p-0 text-light text-center side" >
    <span>Open</span>
    <li title="左一下">@Html.ActionLink("會員管理", "UserManageIndex", "Manage", null, new { @style = "text-decoration:none;", @class = "fa fa-address-book" })</li>
    <li title="左一下">@Html.ActionLink("菜單管理", "ProductManageIndex", "Product", null, new { @style = "text-decoration:none;", @class = "fa fa-cutlery " })</li>
    <li title="左一下">@Html.ActionLink("訂單管理", "OrderIndex", "Order", null, new { @style = "text-decoration:none;" ,@class= "fa fa-book" })</li>
    <li title="左一下">@Html.ActionLink("返回首頁", "index", "Home", null, new { @style = "text-decoration:none;", @class = "fa fa-home" })</li>
</ul>
